
body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 200;
    line-height: 27px;
}

ul {
    padding: 0;
    margin: 0, 0, 20, 0px;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    line-height: 23px;
}

.search {
    padding-top: 20px;
    padding-bottom: 20px;
}

.row {
    text-align: center;
    padding: 30px;
}

.container {
    text-align: center;
    position: relative;
    display: block;

}

.weather-homework {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid green;
    border-radius: 5px;
    color: orange;
    background: #000;
}
.link {
    position: relative;
    text-align: center;
}
.weather-temperature strong {
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    padding-top: 20px;
}
.weather-temperature .units {
    position: relative;
    top: -12px;
}
.description {
    font-display: uppercase;

}